{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Cannot find appointment - Check in for your Jobcentre Plus appointment
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Testing only"
  },
  html: 'Messages will not be sent and no data is saved.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/if-has-appointment" method="post">

      <h1 class="govuk-heading-xl">No appointment found</h1>

      <p>We cannot find an appointment for today that matches your details.</p>

      <h2 class="govuk-heading-m">What to do next</h2>

      <p>Go to the waiting area.</p>

      <p>We have told reception staff that you are here. Someone will come to see you when they are free to help.</p>

      <button class="govuk-button">Finish</button>

      </form>

    </div>
  </div>

{% endblock %}
