{% extends "layout.html" %}

{% block pageTitle %}
  Check your details - Check in for your Jobcentre Plus appointment
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Testing only"
  },
  html: 'Messages will not be sent and no data is saved.'
}) }}

  <a class="govuk-back-link" href="/date-of-birth">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">We cannot find an appointment for you</h1>

      <p>Are these details correct?</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Given names
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['given-names'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/name-separate-fields">
              Change
              <span class="govuk-visually-hidden"> given names</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Family name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['family-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/name-separate-fields">
              Change
              <span class="govuk-visually-hidden"> family name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['birth-day'] }}/{{ data['birth-month'] }}/{{ data['birth-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/date-of-birth">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/cannot-find-appointment" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button">
          Continue - these details are correct
        </button>

      </form>

    </div>
  </div>
{% endblock %}
