{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  You have checked in - Check in for your Jobcentre Plus appointment
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service for use in research.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/if-has-appointment" method="post">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You have checked in</h1>
        <div class="govuk-panel__body">Your appointment is at 1pm with Dave Coachman</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">What to do next</h2>

      <p>Go to the waiting area.</p>

      <p>Dave will come to collect you. We have told Dave that you are here.</p>

      <button class="govuk-button">Finish</button>

    </div>
  </div>

{% endblock %}
