
{% extends "layout.html" %}

{% block pageTitle %}
  Check in for your Jobcentre Plus appointment - prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check in for your Jobcentre Plus appointment
        <span class="govuk-caption-xl">v0.1</span>
      </h1>

      <p>A prototype to help the Digital Jobcentres team research people's experiences in checking in for scheduled appointments.</p>  

     <h2 class="govuk-heading-m">Version 0.1 - Sprint 6</h2>

      <p>First prototype. Reflects a basic check-in interaction worked out with user researchers and business analysts. Includes scenarios for: 

     <ul class="govuk-list govuk-list--bullet">
       <li><a href="/has-appointment-is-on-time">has an appointment, is on time</a> (for demo, use birth month from January to April)</li>
       <li><a href="/has-appointment-is-late">has an appointment, is late</a> (for demo, use birth month from May to August)</li>
       <li><a href="/details-do-not-match">details do not match an appointment record - check answers</a> (for demo, use birth month from September to December)</li>
       <li><a href="/cannot-find-appointment">cannot find appointment</a></li>
       <li><a href="/does-not-have-appointment">does not have an appointment</a></li>       
     </ul>

      <p>Focused prototype on telling users where they stand, including where to wait and showing that staff would be notified that they're there.</p> 

      <p>Used established patterns from the government <a href="https://design-system.service.gov.uk">Design System</a> as a starting point. These are tried and tested and shown to be accessible and usable across device types. We can adapt if first-hand evidence from user research shows we need to take a different approach for our context.</p>

      <p><a href="/if-has-appointment" class="govuk-button">Open prototype</a>
      </p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
