
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check in for your Jobcentre Plus appointment
        <span class="govuk-caption-xl">v0.1</span>
      </h1>

      <p>A prototype to help the Digital Jobcentres team research people's experiences in checking in for scheduled appointments.</p>  

     <h2 class="govuk-heading-m">Initial pages</h2>

     <ul class="govuk-list govuk-list--bullet">
       <li><a href="/if-has-appointment">If they have an appointment today</a></li>
       <li><a href="/name-separate-fields">Name</a></li>
       <li><a href="/date-of-birth">Date of birth</a></li>
       <li><a href="/details-do-not-match">Details do not match an appointment record - check answers</a></li>
     </ul>

     <h2 class="govuk-heading-m">Possible outcome pages</h2>

     <ul class="govuk-list govuk-list--bullet">
       <li><a href="/has-appointment-is-on-time">Has an appointment, is on time</a></li>
       <li><a href="/has-appointment-is-late">Has an appointment, is late</a></li>       
       <li><a href="/cannot-find-appointment">Cannot find appointment</a></li>
       <li><a href="/does-not-have-appointment">Does not have an appointment</a></li>       
     </ul>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
